set $mod Mod4

font pango:fixed 9

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal

# kill focused window
bindsym $mod+Shift+q kill

# Set workspace icons
set $WS1 ""
set $WS2 ""
set $WS3 ""
set $WS4 ""
set $WS5 ""
set $WS6 ""
set $WS7 ""

# change focus remapped to match VIM mode
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window VIM mode
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+c split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# Scratchpad
bindsym $mod+minus move scratchpad
bindsym $mod+Shift+minus scratchpad show


# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e mode "Exit"; exec i3-nagbar \
	-t warning \
	-m '❕ SESSION EXIT OPTIONS' \
	-B '❌ [L]ogout' 	'i3-msg exit' \
	-B '🌀️ [R]estart'	'systemctl -i reboot' \
	-B '⚡️ [S]hutdown'	'systemctl -i poweroff' 

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

# Color definitions that I got from the base16
set $base00 #1e1e1e
set $base01 #323537
set $base02 #464b50
set $base03 #5f5a60
set $base04 #838184
set $base05 #a7a7a7
set $base06 #c3c3c3
set $base07 #ffffff
set $base08 #cf6a4c
set $base09 #cda869
set $base0A #f9ee98
set $base0B #8f9d6a
set $base0C #afc4db
set $base0D #7587a6
set $base0E #9b859d
set $base0F #9b703f

client.focused $base0D $base0D $base00 $base01
client.focused_inactive $base02 $base02 $base03 $base01
client.unfocused $base01 $base01 $base03 $base01
client.urgent $base02 $base08 $base07 $base08


# Personal edits
## Move between monitors
bindsym $mod + shift + y move workspace to output left
bindsym $mod + shift + o move workspace to output right

# Key mappings for ALSA and pulseaudio are in .xbindkeysrc

# Rofi as DMENU all settings passed here
bindsym $mod+d exec rofi -show drun -show-icons
 
# Prtscr launches flameshot
bindsym Print exec "flameshot gui"

# Gaps and titles
gaps inner 5px
for_window [all] border pixel 2

######################################################################################
############################### STARTUP PROGRAMS #####################################
######################################################################################

{{ if eq .chezmoi.hostname "PlaneShift" }}
	# Programs to be run at start in PlaneShift (Working Laptop with XFCE)
	exec --no-startup-id xfce4-panel --disable-wm-check &
	exec --no-startup-id xfce4-power-manager
	exec --no-startup-id nm-applet
	exec --no-startup-id nitrogen --restore &
	exec --no-startup-id /usr/libexec/xfce-polkit & # works with xfce 4.16
	exec --no-startup-id /usr/lib/xfce4/notifyd/xfce4-notifyd
{{ end }}

{{ if eq .chezmoi.hostname "WeatherLight" }}
	# Programs to be run at start in WeatherLight (Carbon X1)
	exec --no-startup-id wicd-gtk -t
	exec --no-startup-id pasystray
	exec --no-startup-id blueman-applet
	exec --no-startup-id xcompmgr 
	exec --no-startup-id xbindkeys &
	exec --no-startup-id /usr/bin/feh --bg-scale '{{ .chezmoi.homedir }}/Pictures/artGnome/background/current' &
{{ end }}


######################################################################################
############################### LAPTOP SPECIFIC SETTINGS #############################
######################################################################################

{{ if eq .chezmoi.hostname "PlaneShift" }}
	# Use pactl to adjust volume in PulseAudio.
	set $refresh_i3status killall -SIGUSR1 i3status
	bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
	bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
	bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
	bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

	for_window [ class="Xfce4-panel" instance="xfce4-panel" ] floating enable

	# NO i3bar to display as we use XFCE
{{ end }}

{{ if eq .chezmoi.hostname "WeatherLight" }}
	bindsym $mod+Shift+d exec rofi -show window
	# Start i3bar to display a workspace bar (plus the system information i3status
	# finds out, if available)
	bar {
			font pango:monospace 8, fixed 9 
			status_command i3blocks
			colors {
				statusline	#76c2d6
				background	#191919
			
				# class                border		backgrd		text
				focused_workspace      #800080		#800080		#dddddd
				active_workspace       #090909		#191919		#666666
				inactive_workspace     #090909		#191919		#666666
				urgent_workspace       #191919		#191919		#c7a551
			}
	}
{{ end }}
