# i3blocks config file

# Global properties
command=/usr/share/i3blocks/$BLOCK_NAME
separator_block_width=15
markup=pango
color=#acacac

# Fake separator
full_text=·
align=center
color=#ff0090
separator=false
separator_block_width=4

[time2]
color=#acacac
label=
command=~/.config/i3blocks/time2/time2
interval=1
min_width=658

[volume]
color=#acacac
label=
instance=Master
interval=once
signal=10

[separator]

[brightness]
color=#acacac
label=
command=~/.config/i3blocks/brightness/brightness
interval=5

[separator]

[bandwidth]
color=#acacac
label=
command=~/.config/i3blocks/bandwidth2/bandwidth2
interval=persist

[separator]

[cpu_usage]
command=~/.config/i3blocks/cpu_usage/cpu_usage
color=#acacac
label=
interval=1
min_width= 99.99%

[separator]

[temperature]
color=#acacac
label=
interval=10

[separator]

[battbar2]
command=~/.config/i3blocks/battbar2/battbar2
markup=pango
interval=30
